<%- include("../includes/head.ejs") %>

<body class="page page--default">
	<%- include("../includes/navigation.ejs") %>

	<main>
		<div class="container">
			<article class="card product-detail">
				<header class="card__header">
					<h1><%= product.title %></h1>
				</header>

				<div class="card__image">
					<img src="<%= product.imageUrl %>" alt="<%= product.title %>">
				</div>

				<div class="card__content">
					<h2 class="product__price">$<%= product.price %></h2>

					<p class="product__description">
						<%= product.description %>
					</p>
				</div>

				<div class="card__actions">
					<%- include("../includes/addToCartBtn.ejs") %>
					<a href="/products" class="btn"> Back to Products </a>
				</div>
			</article>
		</div>
	</main>
</body>
