<%- include("../includes/head.ejs") %>

	<body class="page page--default">
	<%- include("../includes/navigation.ejs") %>

		<main>
			<div class="container">
				<% if (products.length) { %>
				<div class="grid">
					<% products.forEach(product => { %>
					<article class="card product-item">
						<header class="card__header">
							<h1 class="product__title"><%= product.title %></h1>
						</header>
						<div class="card__image">
							<img
								src="<%= product.imageUrl %>"
								alt="<%= product.title %>"
							>
						</div>
						<div class="card__content">
							<h2 class="product__price"><%= product.price %></h2>
							<p class="product__description"><%= product.description %></p>
						</div>
						<div class="card__actions">
							<a href="/admin/edit-product/<%= product.id %>?edit=true" class="btn">Edit</a>
							<form action="/admin/delete-product" method="POST" class="btn">
								<input type="hidden" name="id" value="<%= product.id %>">
								<button type="submit" style="border:inherit; background-color: inherit; color: inherit; font-weight: inherit;">Delete</button>
							</form>
						</div>
					</article>
					<% }) %>
				</div>
				<% } else { %>
				<h1>No Products Yet</h1>
      <a href="/admin/add-product">Add Product</a>
			<% } %>
			</div>
		</main>
	</body>
</html>
